<!-- Imports polymer -->
<link rel="import" href="glycodigest-imports.html">

<!-- Defines element markup -->
<dom-module id="glycodigest-element">
    <style>

        :host{
            --paper-input-container-invalid-color: #e2011b;
            --paper-input-container-focus-color: #e2011b;
        }
        glycodigest-resultcard {
            max-width: 580px;
        }

        .fab {
            margin-right:10px;
            position: fixed;
            bottom: 16px;
            right: 16px;
        }

        .fab-button {
            margin-left: 10px;
            background: #e2011b;
            color: white;
            will-change: transform;
            transition: transform 0.2s ease-in-out;
        }

        #toastGlycoDigest .toast-hide-button {
            color: #eeff41;
            margin: 10px;
        }
        paper-material {
            border-radius: 2px;
            height: 100%;
            padding: 30px;;
            margin: 16px auto;
            background: white;
            min-width: 840px;
        }

        .builderWarning{
            @apply(--paper-font-common-base);
            letter-spacing: -.012em;
        }
        .mod-title{
            @apply(--paper-font-common-base);
            font-weight: bold;
            font-size: 1.5em;
            letter-spacing: -.012em;
            line-height: 32px;
            margin-top: 18px;
            margin-left: 20px;
        }

        .centered {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
        .glycanbuilder{
            margin: 0 auto;
        }
        .marginTop{
            margin-top: 10px;
        }

        iron-list {
            @apply(--layout-fit);
        }

        paper-button.custom {
            height:100%;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

            --paper-button-ink-color: #5F9EDF;
            /* These could also be individually defined for each of the
              specific css classes, but we'll just do it once as an example */
            --paper-button-flat-keyboard-focus: {
                background-color: #5F9EDF;
                color: white !important;
            };
            --paper-button-raised-keyboard-focus: {
                background-color: #5F9EDF !important;
                color: white !important;
            };
        }
        paper-button.red {
            background-color: #e2011b;
            color: white;
            --paper-button-raised-keyboard-focus: {
                background-color: #5F9EDF !important;
                color: white !important;
            };
        }

        .numIcon {
            width:50px;
            height:50px;
            margin: 10px;
        }

        .toolCard {
            background-color: #eee;
            padding: 10px;
        }

        #structureTextArea {
            width: 600px;
            min-height: 300px;
        }
    </style>
    <template>
        <section id="glycanInput">
            <paper-material elevation="2" class="centered" id="graphicalInput" style="min-width: 1000px">
                <div class="layout horizontal">
                    <iron-image src="{{resolveUrl('img/num_1.png')}}" class="numIcon" sizing="contain" ></iron-image>
                    <div class="mod-title">First Step: Draw your glycan structure</div>
                    <span class="flex"></span>
                    <paper-card elevation="2"  class="horizontal layout toolCard">
                        <iron-icon class="numIcon" style="color: #e2011b;" icon="icons:settings"></iron-icon>
                        <paper-button raised class="custom red" on-click="changeInput" input="graphical">Text <br> Input</paper-button>
                    </paper-card>
                </div>
                <div class="layout horizontal">
                    <glycan-builder id="glycanBuilder" serverlocation$="{{serverlocation}}" class="glycanbuilder"></glycan-builder>
                </div>
                <paper-material class="builderWarning" elevation="2" style="max-width: 800px;background: #eee">
                   <h3>Use GlycanBuilder</h3>
                    <p>Build your glycan or epitope by clicking on the coloured shapes or selecting from the menu in the top black bar.</p>
                    <p>If the graphical builder is not responding properly, it should be restarted from the menu : "File" -> "Restart".</p>
                    <p>The graphical interface is not part of the software maintained by SIB. We apologize if something goes wrong with it.</p>
                </paper-material>

            </paper-material>

            <paper-material elevation="2" class="centered" id="textInput" hidden>
                <div class="layout horizontal">
                    <iron-image src="{{resolveUrl('img/num_1.png')}}" class="numIcon" sizing="contain" ></iron-image>
                    <div class="mod-title">First Step: Insert the glycan structure in GlycoCT condensed format</div>
                    <span class="flex"></span>
                    <paper-card elevation="2" class="horizontal layout toolCard">
                        <iron-icon class="numIcon" style="color: #e2011b;" icon="icons:settings"></iron-icon>
                        <paper-button raised class="custom red" on-click="changeInput" input="text" >Graphical <br> Input</paper-button>
                    </paper-card>
                </div>
                <div class="layout horizontal centered" style="max-width: 1000px" >
                    <paper-textarea id="structureTextArea" label="Insert your GlycoCT condensed Here" required error-message="Please insert the structure or use the Graphical Input" value=""></paper-textarea>
                    <span class="flex"></span>
                    <marked-element>
                        <div class="markdown-html"></div>
                        <script type="text/markdown">
    **Substructure Example GlycoCt condensed format**


    ```html
    RES
    1b:x-dglc-HEX-1:5
    2s:n-acetyl
    3b:b-dgal-HEX-1:5
    4b:b-dglc-HEX-1:5
    5s:n-acetyl
    LIN
    1:1d(2+1)2n
    2:1o(3+1)3d
    3:1o(6+1)4d
    4:4d(2+1)5n
    ```
                        </script>
                    </marked-element>
                </div>
            </paper-material>
        </section>
        <section id="enzymeInput">
            <paper-material elevation="2" class="centered">
                <div class="layout horizontal">
                    <iron-image src="{{resolveUrl('img/num_2.png')}}" class="numIcon" sizing="contain" ></iron-image>
                    <div class="mod-title">Second Step: Setup the Digestion Process</div>
                </div>
                <sortable-enzymes id="enzymes" data-enzymes="{{dataEnzymes}}"></sortable-enzymes>
                <div class="layout center-justified horizontal" >
                    <paper-button noink style="width:100%" on-click="doCall"><iron-image src="{{resolveUrl('img/gd_run.png')}}" style="width: 100%; max-width:450px; height: 150px;" sizing="contain" ></iron-image></paper-button>                </div>
            </paper-material>

            <iron-ajax
                id="digest"
                contentType="application/json",
                handle-as="json"
                method="POST"
                on-response="handleResponse"
                on-error="handleError"
                debounce-duration="300" last-response="{{digestionData}}"></iron-ajax>

        </section>
        <section id="results" scroll-target="scrollable-element" hidden="{{hiddenResults}}">
            <paper-material elevation="2" class="centered">
                <div class="layout horizontal">
                    <iron-image src="{{resolveUrl('img/num_3.png')}}" class="numIcon" sizing="contain" ></iron-image>
                    <div class="mod-title">Third Step: Digestion results</div>
                    <span class="flex"></span>
                    <paper-card elevation="2" class="horizontal layout toolCard">
                        <iron-icon class="numIcon" style="color: #e2011b;" icon="icons:settings"></iron-icon>
                        <paper-toggle-button raised on-change="changeLayout" style="padding-left: 15px;">List layout</paper-toggle-button>
                        <paper-dropdown-menu label="Notation" style="padding-right: 15px;padding-left: 15px">
                            <paper-listbox class="dropdown-content" selected="{{notationSelected}}" attr-for-selected="notation">
                                <paper-item notation="cfg" selected>CFG</paper-item>
                                <paper-item notation="cfgbw">CFG B&W</paper-item>
                                <paper-item notation="uoxf">Oxford</paper-item>
                                <paper-item notation="uoxfcol">Oxford color</paper-item>
                                <paper-item notation="text">Text</paper-item>
                            </paper-listbox>
                        </paper-dropdown-menu>
                    </paper-card>
                </div>
                <div id="exportResult" class="layout horizontal wrap centered marginTop">
                    <glycodigest-resultcard structure="{{undigestedStructure}}" server="{{serverlocation}}" notation="{{notationSelected}}" ></glycodigest-resultcard>
                    <template is="dom-repeat" items="{{digestionData.digestionResults}}" as="result">
                        <glycodigest-resultcard structure="{{result.glycan}}" server="https://glycoproteome.expasy.org" notation="{{notationSelected}}" digestion-list="{{result.enzymeList}}"></glycodigest-resultcard>
                    </template>
                </div>
            </paper-material>
        </section>

        <paper-toast id="toastGlycoDigest">
            <span class="toast-hide-button" role="button" tabindex="0" on-click="hideToast">Ok</span>
        </paper-toast>

        <div class="horizontal layout fab">
            <a href="#glycanInput">
                <paper-fab id="drawGlycan" class="fab-button" icon="image:filter-1" role="button" tabindex="0" aria-disabled="false" elevation="1" ></paper-fab>
                <paper-tooltip for="drawGlycan" position="top" animation-delay="0">First Step: Glycan Structure</paper-tooltip>
            </a>
            <a href="#enzymeInput">
                <paper-fab id="putEnzymes" class="fab-button" icon="image:filter-2" role="button" tabindex="0" aria-disabled="false" elevation="1" ></paper-fab>
                <paper-tooltip for="putEnzymes" position="top" animation-delay="0">Second Step: Enzymes</paper-tooltip>
            </a>
            <a href="#results">
                <paper-fab id="seeResult" class="fab-button" icon="image:filter-3" role="button" tabindex="0" aria-disabled="false" elevation="1"  hidden="{{hiddenResults}}" ></paper-fab>
                <paper-tooltip for="seeResult" position="top" animation-delay="0">Third Step: Results</paper-tooltip>
            </a>
            <paper-fab id="run" class="fab-button" icon="av:play-arrow" role="button" tabindex="0" animated="" aria-disabled="false" elevation="1" on-click="doCall"></paper-fab>
            <paper-tooltip for="run" position="top" animation-delay="0">Run GlycoDigest</paper-tooltip>
        </div>

    </template>

    <script>
    Polymer({
        is: 'glycodigest-element',
        properties:{
            serverlocation: {
                type: String,
                notify: true
            },
            enzymes: String,
            dataEnzymes: String,
            undigestedStructure: String,
            route:{
                type: String,
                value: "input"
            },
            hiddenResults: {
                type: Boolean,
                value: true
            },
            notationSelected: {
                type: String,
                value: "cfg"
            }
        },
        ready: function(){
            this.listen(document,"glycan-builder-structure","digestCall");
        },

        doCall: function(){
            Polymer.dom(this.root).querySelector('glycan-builder').exportGlycanStructure();
        },

        digestCall: function(event){
            var enzymeArray = this.$.enzymes.selectedEnzymeArray();
            if(!this.$.graphicalInput.hidden){
                this.undigestedStructure = event.detail.structure;
            } else {
                this.undigestedStructure = this.$.structureTextArea.value;
            }

            if(this.undigestedStructure.indexOf("LIN") == -1 || (this.undigestedStructure.indexOf("n-acetyl") != -1 && this.undigestedStructure.split(/\r\n|\n|\r/).length == 6)){
                this._toastInput('Please enter a structure with at least two monosaccharide in the First step.',"#glycanInput");
                return;
            }

            if(this.undigestedStructure && enzymeArray.length > 0){
                var ajaxDigestCall = this.$.digest;
                ajaxDigestCall.url = this.serverlocation+"/glycodigest-api/api/digest"
                ajaxDigestCall.body = '{"glycoCtCode":"'+this.undigestedStructure+'","enzymeList":'+JSON.stringify(enzymeArray)+'}';
                ajaxDigestCall.contentType="application/json"
                ajaxDigestCall.generateRequest();
                return;
            }

            if(enzymeArray.length < 1){
                this._toastInput('Please specify a list of enzymes in the Second step.',"#enzymeInput");
                return;
            }

            this._toastInput('Please specify a valid structure in the First step.',"#glycanInput");
        },


        _toastInput: function(text,hrefLocation){
            this.$.toastGlycoDigest.text = text;
            this.$.toastGlycoDigest.show();
            window.location.href = hrefLocation;
        },

        handleResponse: function () {
            this.hiddenResults = false;
            window.location.href = "#results";
        },

        handleError: function () {
            this.$.toastGlycoDigest.text = 'Error connecting to the server. Please use the contact form to report the issue.';
            this.$.toastGlycoDigest.show();
        },

        hideToast: function(){
            this.$.toastGlycoDigest.hide();
        },

        changeLayout: function(e){
            if(!e.target.checked){
                this.$.exportResult.className = "layout horizontal wrap centered marginTop";

            } else {
                this.$.exportResult.className = "layout vertical centred marginTop";
            }
        },

        changeInput: function(e){
            if(e.target.getAttribute("input") === "graphical"){
                this.$.graphicalInput.hidden =  true;
                this.$.textInput.hidden = false;
            } else {
                this.$.graphicalInput.hidden =  false;
                this.$.textInput.hidden = true;
            }
        }
    });
    </script>
</dom-module>
